<div class="outer-contact-container">
	<hr>
	<div class="contact-body-container">
		<div class="contact-form-body">
			<form action="https://formsubmit.co/761ba84acf2ec2f041d5aefafa779263" method="POST">
				<div>
					<h1>Get in touch</h1>
				</div>
				<input type="hidden" name="_subject" value="New email from portfolio.">
				<div class="email-form">
					<label>Email:</label>
					<input type="text" name="email" placeholder="Provide your email here..." required>
				</div>
				<div class="message-form">
					<label>Message:</label>
					<textarea type="textinput" name="message" placeholder="Provide your message here..." required></textarea>
				</div>
				<div>
					<input type="submit" value="Send" />
				</div>
			</form>
		</div>
	</div>
</div>
