<div class="fixed-footer-container">
	<div class="footer-container">
		<div class="footer-icon-row">
			{% include image.html url="https://github.com/christopherchristofi" max-width="50px" file="assets/img/github.png" alt="Github Icon" %}
			{% include image.html url="mailto:contact@christopherchristofi.co.uk?subject=New email from portfolio" max-width="50px" file="assets/img/email.png" alt="Email Icon" %}
		</div>
		<div class="footer-references">
			<p>
				Icons made by Pixel perfect from www.flaticon.com
			</p>
		</div>
		<div class="footer-details">
			<p>
				<a href="/">
					Christopher Christofi</a>
					 | {{ 'now' | date: "%Y" }}
			</p>
			<p>
				<a href="/sitemap.xml">
					sitemap
				</a>
			</p>
		</div>
	</div>
</div>
